div {background-color:lightgrey;
	width:300px;/*розмір контенту(ширина блоку тексту)*/
	padding:25px;/*відступ від контенту до рамки*/
	border:25px solid navy;/*ширина лінії рамки*/
	margin:25px;}/*відступ за рамкою до інших елементів*/