.newspaper {
	-webkit-column-count: 3; /*Chrome, Safari, Opera*/
	-moz-column-count: 3; /*Firefox*/
	column-count: 3;
	-webkit-column-gap: 40px; /*Chrome, Safari, Opera*/
	-moz-column-gap: 40px; /*Firefox*/
	column-gap: 40px;

	-webkit-column-rule: 1px solid lightblue;
	-moz-column-rule: 1px solid lightblue;
	column-rule: 1px solid lightblue;
	/*скорочена властивість*/
}