.square {
	width: 80px;
	height: 70px;
	background-color: red;
	border: 1px solid black;
	border-radius: 5px;
	padding: 12px;
	font-size:25px;
	color:white;
	transition: transform 3s;
}
.square:hover{
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
body{
	background-color: blue;
}