.right{position:absolute;
	   right:0px;
	   width:300px;
	   background-color:#b0e0e6;}
/*Абсолютно розташовані елементи видаляються з основного потоку
 і можуть перекривати інші елементи, для вирішення цієї проблеми,
 додається додатковий клас, як в прикладі index2* і задати поля і
 відступи для <body>/