.st1{color:white;
	   background-color:gray;}
#st2{text-align:center;}
#st3{color:white;
		background-color:blue;}
#st4{ background-color:red;}
#st5{background-color:silver; width:1000px;}
#paint{width:500px;
	   height:358px;}
table,th,td{border:1px solid black;
		  border-collapse:collapse;}
table{width:100%;
	text-align:center;}